/frontend/node_modules/

/frontend/dist/
/frontend/dist-ssr/

/frontend/logs/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

/frontend/.env
/frontend/.env.*.local

/frontend/coverage/
frontend/*.lcov

/frontend/.vscode/
!/frontend/.vscode/extensions.json
/frontend/.idea/
frontend/.DS_Store



/backend/bin/
/backend/obj/


/backend/*.user
/backend/*.suo
/backend/*.csproj.user
/backend/*.dbmdl
/backend/*.pdb

/backend/*.db

/backend/logs/
backend/*.log

/backend/.vs/
/backend/.vscode/
backend/appsettings.*.json

/backend/.cache/